click
colorlog
datasets
gpytorch
h5py
ipympl
ipython
ipywidgets
jupyterlab
matplotlib
mlflow
nbdime
nbstripout
numpy
optimum
optree
pandas
peft
pre-commit
pytest
pytest-cov
pytest-dependency
pytest-env
python-dotenv
pyyaml
recommonmark
ruff
scipy
seaborn
sphinx
tensorboard
torch==2.5.0
torchinfo
torchsde
tox
tqdm
transformers==4.46.0
