click
colorlog
datasets
gpytorch
h5py
ipympl
ipython
ipywidgets
jupyterlab
lightning
matplotlib
mlflow
nbdime
nbstripout
numpy
optimum
optree
pandas
peft
pre-commit
pytest
pytest-cov
pytest-dependency
pyyaml
recommonmark
ruff
scipy
seaborn
sphinx
tensorboard
torch==2.5.0
torchinfo
tox
tqdm
transformers==4.46.0
