evaluation_type: hawkes_pp
evaluation_dir: evaluations/point-processes/rmse
# model_id: /home/cvejoski/Projects/FoundationModels/FIM/results/FIM_Hawkes_1-3_st_exp_1000_paths_mixed_250_events_mixed-experiment-seed-10-dataset-dataset_kwargs-field_name_for_dimension_grouping-base_intensities_03-10-1402/checkpoints/best-model
# model_id: /cephfs_projects/foundation_models/hawkes/data/models/FIM_Hawkes_1st_exp_artificial_larger_scale_2000_paths_mixed_250_events_mixed-experiment-seed-10-dataset-dataset_kwargs-field_name_for_dimension_grouping-base_intensities_03-28-1727-mine/checkpoints/best-model
model_id: /cephfs_projects/foundation_models/hawkes/data/models/FIM_Hawkes_1st_exp_artificial_larger_scale_2000_paths_mixed_250_events_mixed_rmse-experiment-seed-10-dataset-dataset_kwargs-field_name_for_dimension_grouping-base_intensities_04-01-1614/checkpoints/best-model/
accelerator: auto # auto, cpu, gpu, mps

datasets:
  # - label: synthetic
  #   dataloader:
  #     name: FIMDataLoader
  #     path:
  #       {
  #         train: /cephfs_projects/foundation_models/hawkes/data/2k_3_st_hawkes_mixed_no_powerlaw_2000_paths_250_events/test,
  #         test: /cephfs_projects/foundation_models/hawkes/data/2k_3_st_hawkes_mixed_no_powerlaw_2000_paths_250_events/test,
  #       }
  #     dataset_kwargs:
  #       files_to_load:
  #         base_intensities: "base_intensities.pt"
  #         event_times: "event_times.pt"
  #         event_types: "event_types.pt"
  #         delta_times: "delta_times.pt"
  #         kernel_evaluations: "kernel_evaluations.pt"
  #         kernel_grids: "kernel_grids.pt"
  #       data_limit: 1
  #     loader_kwargs:
  #       batch_size: all
  #       test_batch_size: all
  #       num_workers: 0
  #   kernel_grids_sampler:
  #     distribution_type: exponential
  #     rate: 0.1
  #     sample_size: 100
  #     max_value_factor: 5
  #     num_marks: 3
  # - label: easytpp-retweet
  #   dataloader:
  #     name: FIMHFDataLoader
  #     path: easytpp/retweet
  #     split: ["train", "test"]
  #     dataset_kwargs:
  #       rename_columns:
  #         time_since_start: event_times
  #         time_since_last_event: delta_times
  #         type_event: event_types
  #         seq_len: seq_lengths
  #     loader_kwargs:
  #       batch_size: 2000
  #       test_batch_size: 8
  #       num_workers: 4
  #   kernel_grids_sampler:
  #     distribution_type: exponential
  #     rate: 0.000002
  #     sample_size: 2_000
  #     max_value_factor: 2
  #     num_marks: 3
  # - label: easytpp-volcano
  #   dataloader:
  #     name: FIMHFDataLoader
  #     path: easytpp/volcano
  #     split: ["train", "test"]
  #     dataset_kwargs:
  #       rename_columns:
  #         time_since_start: event_times
  #         time_since_last_event: delta_times
  #         type_event: event_types
  #         seq_len: seq_lengths
  #     loader_kwargs:
  #       batch_size: all
  #       test_batch_size: 8
  #       num_workers: 4
  #   kernel_grids_sampler:
  #     distribution_type: exponential
  #     rate: 0.00005
  #     sample_size: 1_000
  #     max_value_factor: 5
  # num_marks: 1
  - label: easytpp-synthetic-1d
    load_if_exists: true
    plot_kwargs:
      plot_intensity:
        number_of_paths: 50
    dataloader:
      name: FIMHFDataLoader
      path: FIM4Science/easytpp-synthetic-1d
      split: ["train", "test"]
      dataset_kwargs:
        rename_columns:
          time_since_start: event_times
          time_since_last_event: delta_times
          type_event: event_types
          seq_len: seq_lengths
        batch_columns:
          - event_times
          - delta_times
          - event_types
          - seq_lengths
          - seq_idx
      loader_kwargs:
        batch_size: all
        test_batch_size: 1
        num_workers: 0
    kernel_grids_sampler:
      distribution_type: exponential
      rate: 0.05
      sample_size: 200
      max_value_factor: 1_000
      num_marks: 1
  - label: synthetic_train_8
    load_if_exists: true
    dataloader:
      name: FIMHFDataLoader
      path: FIM4Science/hawkes-synthetic-short-scale-single-process
      conf: train_process_8
      split: ["train", "test"]
      dataset_kwargs:
        rename_columns:
          time_since_start: event_times
          time_since_last_event: delta_times
          type_event: event_types
          seq_len: seq_lengths
        batch_columns:
          - event_times
          - delta_times
          - event_types
          - seq_lengths
          - seq_idx
      loader_kwargs:
        batch_size: all
        test_batch_size: 1
        num_workers: 0
    kernel_grids_sampler:
      distribution_type: exponential
      rate: 0.05
      sample_size: 200
      max_value_factor: 1_000
      num_marks: 1
  - label: synthetic_train_0
    load_if_exists: true
    dataloader:
      name: FIMHFDataLoader
      path: FIM4Science/hawkes-synthetic-short-scale-single-process
      conf: train_process_0
      split: ["train", "test"]
      dataset_kwargs:
        rename_columns:
          time_since_start: event_times
          time_since_last_event: delta_times
          type_event: event_types
          seq_len: seq_lengths
        batch_columns:
          - event_times
          - delta_times
          - event_types
          - seq_lengths
          - seq_idx
      loader_kwargs:
        batch_size: all
        test_batch_size: 1
        num_workers: 0
    kernel_grids_sampler:
      distribution_type: exponential
      rate: 0.01
      sample_size: 200
      max_value_factor: 1_000
      num_marks: 1
