experiment:
  name: FIM_Hawkes_mini_5_st
  name_add_date: true # if true, the current date & time will be added to the experiment name
  seed: [10]
  device_map: auto # auto, cuda, cpu

distributed:
  enabled: false
  sharding_strategy: NO_SHARD # SHARD_GRAD_OP, NO_SHARD, HYBRID_SHARD
  wrap_policy: SIZE_BAZED # NO_POLICY # MODEL_SPECIFIC, SIZE_BAZED
  min_num_params: 1e5
  checkpoint_type: full_state # full_state, local_state
  activation_chekpoint: false

dataset:
  name: FIMDataLoader
  path_collections:
    train: !!python/tuple
      - tests/resources/data/hawkes/10_5_st_hawkes_exp_500_paths_100_events/train

    validation: !!python/tuple
      - tests/resources/data/hawkes/10_5_st_hawkes_exp_500_paths_100_events/val

  loader_kwargs:
    batch_size: 1
    num_workers: 0
    test_batch_size: 1
  dataset_kwargs:
    files_to_load:
      base_intensities: "base_intensities.pt"
      event_times: "event_times.pt"
      event_types: "event_types.pt"
      kernel_evaluations: "kernel_evaluations.pt"
      kernel_grids: "kernel_grids.pt"
    data_limit: 10

model:
  model_type: fimhawkes
  max_num_marks: &max_num_marks 5
  hidden_dim: &hidden_dim 32

  mark_encoder:
    name: torch.nn.Linear
    out_features: *hidden_dim

  time_encoder:
    name: torch.nn.Linear
    out_features: *hidden_dim

  delta_time_encoder:
    name: torch.nn.Linear
    out_features: *hidden_dim

  kernel_time_encoder:
    name: torch.nn.Linear

  evaluation_mark_encoder:
    name: torch.nn.Linear

  ts_encoder:
    name: torch.nn.TransformerEncoder
    num_layers: 4

    encoder_layer:
      name: torch.nn.TransformerEncoderLayer
      dropout: 0.1
      nhead: 4
      batch_first: true

  time_dependent_functional_attention:
    paths_block_attention: false
    num_res_layers: 8
    attention:
      nhead: 1
    projection:
      name: fim.models.blocks.base.MLP
      hidden_layers: !!python/tuple [*hidden_dim, *hidden_dim]

  static_functional_attention:
    paths_block_attention: false
    num_res_layers: 8
    attention:
      nhead: 1
    projection:
      name: fim.models.blocks.base.MLP
      hidden_layers: !!python/tuple [*hidden_dim, *hidden_dim]

  static_functional_attention_learnable_query:
    name: torch.nn.Linear
    out_features: *hidden_dim

  kernel_value_decoder:
    name: fim.models.blocks.base.MLP
    hidden_layers: !!python/tuple [*hidden_dim, *hidden_dim]

  base_intensity_decoder:
    name: fim.models.blocks.base.MLP
    hidden_layers: !!python/tuple [*hidden_dim, *hidden_dim]

trainer:
  name: Trainer
  debug_iterations: null
  precision: bf16 # null fp16 bf16 bf16_mixed fp16_mixed fp32_policy
  epochs: &epochs 5000
  detect_anomaly: false
  save_every: 10
  gradient_accumulation_steps: 4
  best_metric: loss
  logging_format: "RANK_%(rank)s - %(asctime)s - %(name)s - %(levelname)s - %(message)s"
  experiment_dir: ./results/
  schedulers: !!python/tuple
    - name: fim.utils.param_scheduler.ConstantScheduler # ExponentialIncrease, ConstantScheduler, PeriodicScheduler
      beta: 1.0
      label: gauss_nll
    - name: fim.utils.param_scheduler.ConstantScheduler # ExponentialIncrease, ConstantScheduler, PeriodicScheduler
      label: init_cross_entropy
      beta: 1.0
    - name: fim.utils.param_scheduler.ConstantScheduler # ExponentialIncrease, ConstantScheduler, PeriodicScheduler
      label: missing_link
      beta: 1.0

optimizers: !!python/tuple
  - optimizer_d: # name of the optimizer
      name: torch.optim.AdamW
      lr: 0.0001
      weight_decay: 0.0001