experiment:
  name: 30K_deg_3_nonlinear_drift_poly_diffusion_100_paths
  name_add_date: true # if true, the current date & time will be added to the experiment name
  seed: 10
  device_map: cuda # auto, cuda, cpu

distributed:
  enabled: false # true for multi gpu training
  sharding_strategy: NO_SHARD # SHARD_GRAD_OP, NO_SHARD (data parallelism), HYBRID_SHARD
  wrap_policy: SIZE_BAZED # NO_POLICY # MODEL_SPECIFIC, SIZE_BAZED (decides how to split parameters along GPUs)
  min_num_params: 1e5
  checkpoint_type: full_state # full_state, local_state
  activation_chekpoint: false

model:
  model_type: fimsde
  # base_model: /home/cvejoski/Projects/FoundationModels/FIM/results/30K_deg_3_drift_ablation_obs_noise_03_01-18-2113/checkpoints/best-model/
  ###################################################################################
  # Input data (corrected by dataloader)
  max_dimension: &max_dimension 3
  # max_time_steps: &max_time_steps 128
  # max_location_size: &max_location_size 1024
  # max_num_paths: &max_num_of_paths 300

  # General model config
  non_negative_diffusion_by: null
  model_embedding_size: &model_embedding_size 128

  # General transformer config
  residual_ff_size: &residual_ff_size 512
  transformer_layer_activation: &transformer_layer_activation "gelu"

  # General MLP config
  hidden_layers: !!python/tuple &hidden_layers [128, 128]
  dropout_rate: &dropout_rate 0.1
  hidden_act: &hidden_act
    name: &activation torch.nn.GELU

  # Networks
  layer_norms_in_phi_0: false
  separate_phi_0_encoders: true
  delta_time_only: true

  phi_0t:
    name: torch.nn.Linear

  phi_0x:
    name: torch.nn.Linear

  psi_1:
    name: "CombinedPathTransformer"
    num_layers: 2
    layer:
      attn_method: "linear"
      lin_feature_map: "softmax"
      lin_normalize: true
      nhead: 4
      dim_feedforward: *residual_ff_size
      dropout: *dropout_rate
      activation: *activation

  phi_1x:
    name: torch.nn.Linear

  learn_vf_var: false
  operator_specificity: "per_concept" # all, per_concept, per_head

  operator: &operator
    paths_block_attention: false
    num_res_layers: 4
    attention:
      nhead: 4
      dim_feedforward: *residual_ff_size
      dropout: *dropout_rate
      activation: *activation

    projection:
      name: fim.models.blocks.base.MLP
      hidden_layers: *hidden_layers
      hidden_act: *hidden_act
      dropout: *dropout_rate

  # instance normalization
  states_norm:
    name: fim.models.sde.Standardization

  times_norm_on_deltas: True
  times_norm:
    name: fim.models.sde.DeltaLogCentering

  # loss regularization
  train_with_normalized_head: true
  loss_filter_nans: true

  # learnable_loss_scales: *operator
  learnable_loss_scales:
    paths_block_attention: false
    num_res_layers: 4
    attention:
      nhead: 4
      dim_feedforward: *residual_ff_size
      dropout: *dropout_rate
      activation: *activation

    projection:
      name: fim.models.blocks.base.MLP
      hidden_layers: *hidden_layers
      hidden_act: *hidden_act
      dropout: *dropout_rate

  # loss
  loss_type: "rmse" #nll, rmse, nrmse
  single_learnable_loss_scale_head: true
  detach_learnable_loss_scale_heads: true

  # INFERENCE/PIPELINE ------------------------------------------------------------
  dt_pipeline: 0.1
  number_of_time_steps_pipeline: 128
  evaluate_with_unnormalized_heads: true

dataset:
  name: FIMSDEDataloaderIterableDataset

  max_dim: 3

  dataset_name:
    train: &train_set_name StreamingFIMSDEDataset # PaddedFIMSDEDataset, HeterogeneousFIMSDEDataset, StreamingFIMSDEDataset
    validation: *train_set_name
    test: PaddedFIMSDEDataset

  batch_size:
    train: 32
    validation: 32
    test: 128

  shuffle_locations:
    train: true
    validation: true
    test: false
  shuffle_paths: true
  shuffle_elements: true # only for PaddedFIMSDEDataset and HeterogeneousFIMSDEDataset

  num_locations:
    train: 50
    validation: 1
    test: null

  num_observations:
    train: !!python/tuple [1280, 6400]
    validation: null
    test: null

  num_workers:
    train: 4
    validation: 2
    test: 0

  files_to_load:
    obs_times: "obs_times.h5"
    obs_values: "obs_values.h5"
    locations: "locations.h5"
    drift_at_locations: "drift_at_locations.h5"
    diffusion_at_locations: "diffusion_at_locations.h5"

  data_dirs:
    train: !!python/tuple [
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-1/1,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-1/2,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-1/3,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-1/4,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-1/5,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-2/1,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-2/2,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-2/3,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-2/4,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-2/5,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-2/6,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-2/7,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-2/8,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-2/9,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-2/10,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-2/11,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-2/12,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-2/13,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-2/14,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-2/15,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-2/16,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-2/17,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-2/18,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-2/19,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-2/20,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-2/21,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-2/22,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-2/23,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-2/24,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-2/25,
        # /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-2/26,
        # /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-2/27,
        # /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-2/28,
        # /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-2/29,
        # /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-2/30,
        # /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-2/31,
        # /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-2/32,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-3/1,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-3/2,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-3/3,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-3/4,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-3/5,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-3/6,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-3/7,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-3/8,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-3/9,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-3/10,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-3/11,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-3/12,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-3/13,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-3/14,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-3/15,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-3/16,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-3/17,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-3/18,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-3/19,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-3/20,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-3/21,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-3/22,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/train/dim-3/23,
      ]
    validation: !!python/tuple [
        # /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/validation/dim-1/19,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/validation/dim-1/20,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/validation/dim-2/172,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/validation/dim-2/173,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/validation/dim-2/174,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/validation/dim-2/175,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/validation/dim-3/26,
      ]
    test:
      !!python/tuple [
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/test/dim-1/18,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/test/dim-2/176,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/test/dim-2/177,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/test/dim-2/178,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/test/dim-2/179,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/test/dim-2/180,
        /cephfs_projects/foundation_models/data/SDE/train/nonlinear-drift-poly-diff/test/dim-3/27,
      ]

trainer:
  name: Trainer
  debug_iterations: null
  precision: bf16_mixed # null fp16 bf16 bf16_mixed fp16_mixed fp32_policy (stick to bf16, maybe try bf16_mixed for more accurate gradients)
  epochs: &epochs 450
  detect_anomaly: false
  save_every: 20
  gradient_accumulation_steps: 1
  best_metric: loss
  hub_model_id: null
  logging_format: "RANK_%(rank)s - %(asctime)s - %(name)s - %(levelname)s - %(message)s"
  experiment_dir: ./results/
  # profiler:
  #   num_batches: 40
  #   trace_path: "/home/seifner/repos/FIM/results/profiler/trace.json"

  evaluation_epoch:
    path: fim.trainers.evaluation_epochs.SDEEvaluationPlots
    plot_frequency: 10
    plot_paths_count: 50

  schedulers: !!python/tuple
    - name: fim.utils.param_scheduler.ConstantScheduler # ExponentialIncrease, ConstantScheduler, PeriodicScheduler
      label: loss_threshold
      beta: 1000000000.0

    - name: fim.utils.param_scheduler.ConstantScheduler # ExponentialIncrease, ConstantScheduler, PeriodicScheduler
      label: vector_field_max_norm
      beta: 1000000000.0

    - name: fim.utils.param_scheduler.ConstantScheduler # ExponentialIncrease, ConstantScheduler, PeriodicScheduler
      label: diffusion_loss_scale
      beta: 1.0

optimizers: !!python/tuple
  - optimizer_d: # name of the optimizer
      name: torch.optim.AdamW
      lr: &lr_rate 1.0e-4
      weight_decay: 0
      # gradient_norm_clipping: 10
      # schedulers: !!python/tuple
      #   - name: torch.optim.lr_scheduler.SequentialLR
      #     step_type: minibatch
      #     schedulers: !!python/tuple
      #       - name: fim.trainers.lr_warmup.LinearWarmupScheduler
      #         warmup_steps: &warmup_steps 10000
      #         target_lr: *lr_rate
      # #       - name: torch.optim.lr_scheduler.CosineAnnealingLR
      # #         T_max: 700000
      # #         eta_min: 1.0e-6
      # #         last_epoch: -1
      #     milestones: !!python/tuple []
