experiment:
  name: sde
  run_description: "testing_linear_drift_linear_diffusion"
  name_add_date: true # if true, the current date & time will be added to the experiment name
  seed: 10
  device_map: cuda # auto, cuda, cpu

model:
  name: FIMSDE
  ###################################################################################
  # Model
  activation:
    name: torch.nn.SELU

  # phi_0^t
  temporal_embedding_size: 128

  # phi_0^s
  spatial_embedding_size: 128
  spatial_embedding_hidden_layers: &hidden_layers [128, 128]

  # psi_1
  sequence_encoding_tokenizer: 64
  sequence_encoding_transformer_hidden_size: 256
  sequence_encoding_transformer_heads: 4
  sequence_encoding_transformer_layers: 4

  # phi_1
  trunk_net_hidden_layers: *hidden_layers

  # heads
  heads_hidden_layers: *hidden_layers

  # instance normalization
  values_norm_min: -1
  values_norm_max: 1
  times_norm_min: 0
  times_norm_max: 1

  # training
  # optimizer + regularising
  num_epochs: 1000
  lightning_training: true
  add_delta_x_to_value_encoder: true
  log_images_every_n_epochs: 1
  learning_rate: 1.0e-4
  weight_decay: 1.0e-3
  dropout_rate: 0.1

  # loss
  loss_type: "nll" #nll, rmse
  clip_grad: true
  clip_max_norm: 10.

  # loss regularization
  diffusion_loss_scale: 1.00
  train_with_normalized_head: true
  loss_threshold: 100.0
  loss_filter_nans: true

  # INFERENCE/PIPELINE ------------------------------------------------------------
  dt_pipeline: 0.1
  number_of_time_steps_pipeline: 128
  evaluate_with_unnormalized_heads: true

# dataset:
#   # data loading
#   name: FIMSDEDataloader
#   dataset_description: &dataset_description SDE_linear_SNR_01_05_1_5
#
#   total_minibatch_size: &total_minibatch_size 32
#   total_minibatch_size_test: &total_minibatch_size_test 32
#
#   random_num_paths_n_grid: true
#   min_number_of_paths_per_batch: 100
#   max_number_of_paths_per_batch: 100
#   min_number_of_grid_per_batch: 100
#   max_number_of_grid_per_batch: 100
#
#   data_loading_processes_count: &data_loading_processes_count 0
#
#   data_in_files: &data_in_files
#     obs_times: "obs_times.h5"
#     obs_values: "obs_values.h5"
#     locations: "hypercube_locations.h5"
#     drift_at_locations: "drift_functions_at_hypercube.h5"
#     diffusion_at_locations: "scaled_diffusion_functions_at_hypercube.h5"
#
#   dataset_path_collections: &dataset_path_collections
#     train:
#       - processed\state_sde\linear\dim-1\1
#       - processed\state_sde\linear\dim-2\1
#       - processed\state_sde\linear\dim-3\1
#     test:
#       - processed\state_sde\linear\dim-2\1
#     validation:
#       - processed\state_sde\linear\dim-2\1
#
#   loader_kwargs:
#     num_workers: 2

dataset:
  name: FIMSDEDataloader
  type: theory # synthetic, theory
  dataset_description: linear

  # dynamical_systems_hyperparameters_file: configs/train/fim-sde/sde-systems-hyperparameters.yaml
  dynamical_systems_hyperparameters_file: configs/train/fim-sde/sde-polynomial-systems-hyperparameter.yaml

  total_minibatch_size: 16
  total_minibatch_size_test: 16

  random_num_paths_n_grid: true
  min_number_of_paths_per_batch: 50
  max_number_of_paths_per_batch: 50
  min_number_of_grid_per_batch: 5
  max_number_of_grid_per_batch: 5

  loader_kwargs:
    num_workers: 2
