
pipeline_config_id: runner_config

data:
    easytpp:
        data_format: json
        train_dir: /cephfs/users/berghaus/.cache/huggingface/hub/datasets--FIM4Science--easytpp-synthetic-1d/snapshots/6495d88677bff1642ecf11a17ce91fe42099ff99/train.json
        valid_dir: /cephfs/users/berghaus/.cache/huggingface/hub/datasets--FIM4Science--easytpp-synthetic-1d/snapshots/6495d88677bff1642ecf11a17ce91fe42099ff99/val.json
        test_dir: /cephfs/users/berghaus/.cache/huggingface/hub/datasets--FIM4Science--easytpp-synthetic-1d/snapshots/6495d88677bff1642ecf11a17ce91fe42099ff99/test.json
        # train_dir: FIM4Science/easytpp-synthetic-1d
        # valid_dir: FIM4Science/easytpp-synthetic-1d
        # test_dir: FIM4Science/easytpp-synthetic-1d
        # train_dir: easytpp/taxi
        # valid_dir: easytpp/taxi
        # test_dir: easytpp/taxi
        data_specs:
          num_event_types: 10
          pad_token_id: 10
          padding_side: right


NHP_train:
  base_config:
    stage: train
    backend: torch
    dataset_id: easytpp
    runner_id: std_tpp
    model_id: NHP # model name
    base_dir: './checkpoints/'
  trainer_config:
    batch_size: 256
    max_epoch: 2
    shuffle: False
    optimizer: adam
    learning_rate: 1.e-3
    valid_freq: 1
    use_tfb: True
    metrics: [ 'acc', 'rmse' ]
    seed: 2019
    gpu: -1
  model_config:
    hidden_size: 32
    loss_integral_num_sample_per_step: 20
    thinning:
      num_seq: 10
      num_sample: 1
      num_exp: 500 # number of i.i.d. Exp(intensity_bound) draws at one time in thinning algorithm
      look_ahead_time: 10
      patience_counter: 5 # the maximum iteration used in adaptive thinning
      over_sample_rate: 5
      num_samples_boundary: 5
      dtime_max: 5
      num_step_gen: 1
